@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-eastbay: #484283;
  --color-accent: #f14f4f;
  --grid-gap: 20px;
  --main-offset: 40px;
  --font-family: "Intro", sans-serif;
  --font-Book: "Intro Book", sans-serif;
  --middle-high-font: 700 30px / 140% var(--font-family);
  --small-font: 400 14px / 140% var(--font-Book);
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.header__container {
  align-items: center;
}
.header__left {
  grid-column: 2 span;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  grid-column: 10 span;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--main-offset);
}
.nav__link {
  font: var(--small-font);
  color: var(--color-white);
}

.cart {
  margin-left: var(--main-offset);
}
.cart__btn {
  position: relative;
  width: 20px;
  height: 20px;
}
.cart__btn svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart__count {
  position: absolute;
  right: -6px;
  bottom: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  min-width: 16px;
  height: 16px;
  font: var(--small-font);
  color: var(--color-white);
  background-color: var(--color-accent);
}

.hero {
  height: 800px;
  background-color: var(--color-eastbay);
}

.logo {
  font: var(--middle-high-font);
  color: var(--color-white);
}