@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-eastbay: #484283;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-main: #444b58;
  --color-main-hover: #31343c;
  --color-bg: #fff4ee;
  --color-cameo: #dbbba9;
  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;
  --font-family: "Intro", sans-serif;
  --font-Book: "Intro Book", sans-serif;
  --middle-high-bold: 700 30px / 140% var(--font-family);
  --prehigh-regular: 600 20px / 140% var(--font-family);
  --prehigh-book: 400 24px / 140% var(--font-family);
  --middle-book: 400 16px / 140% var(--font-Book);
  --middle-regular: 600 16px / 140% var(--font-family);
  --small-book: 400 14px / 140% var(--font-Book);
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.btn {
  padding: 22px 47px;
  border-radius: 4px;
  font: var(--middle-regular);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-accent);
}
.btn--primary:hover {
  background-color: var(--color-accent-hover);
}

.title {
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-main);
}

.custom-checkbox {
  font: var(--middle-book);
  color: var(--color-main);
  padding-left: 35px;
}
.custom-checkbox__content::before {
  top: -3px;
  border-color: var(--color-cameo);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.custom-checkbox__content::after {
  top: -3px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/catalog/check.svg");
  background-size: 15px 12px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.header__container {
  --paddings: 15px;
  position: relative;
  align-items: center;
  padding: var(--second-offset) var(--paddings);
}
.header__container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - (var(--paddings) * 2));
  height: 1px;
  background-color: var(--color-border);
  transform: translateX(-50%);
}
.header__left {
  grid-column: 2 span;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  grid-column: 10 span;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--main-offset);
}
.nav__link {
  font: var(--small-book);
  color: var(--color-white);
}

.cart {
  margin-left: var(--main-offset);
}
.cart__btn {
  position: relative;
  width: 20px;
  height: 20px;
}
.cart__btn svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart__count {
  position: absolute;
  right: -6px;
  bottom: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  min-width: 16px;
  height: 16px;
  font: var(--small-book);
  color: var(--color-white);
  background-color: var(--color-accent);
}

.hero {
  position: relative;
  padding: 100px 0;
  height: 520px;
  background-color: var(--color-eastbay);
}
.hero__container {
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.hero__bg-text {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin-top: 20px;
  margin-left: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  color: rgba(255, 255, 255, 0.12);
  transform: translate(-50%, -50%);
}
.hero__title {
  margin-top: 50px;
  max-width: 50%;
  margin-bottom: var(--second-offset);
  font: 700 36px/140% var(--font-family);
  color: var(--color-white);
}
.hero__descr {
  margin: 0;
  margin-bottom: var(--main-offset);
  max-width: calc(50% - 100px);
  font: var(--middle-book);
  color: var(--color-white);
}

.logo {
  font: var(--middle-high-bold);
  color: var(--color-white);
  line-height: 1;
}

.catalog {
  padding: var(--big-offset) 0;
}
.catalog__left {
  grid-column: 3 span;
  border-radius: 4px;
  padding: var(--second-offset);
  background-color: var(--color-bg);
}
.catalog__grid {
  grid-column: 9 span;
}
.catalog__subtitle {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
}
.catalog__caption {
  display: block;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.catalog__prop {
  margin-bottom: var(--second-offset);
}
.catalog__prop-checkboxes {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);
}
.catalog-list__item {
  grid-column: 3 span;
}

.product {
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}
.product__btns {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.product__image {
  position: relative;
  margin-bottom: var(--small-offset);
  width: 100%;
  max-height: 293px;
}
.product__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.product__title {
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  font-size: 15px;
  color: var(--color-main);
}
.product__price {
  font: var(--prehigh-regular);
  color: var(--color-main);
}
.product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-main);
  transition: background-color 0.2 ease-in-out;
}
.product__btn:first-child {
  margin-right: var(--main-offset);
}
.product__btn svg {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.product__btn:hover {
  background-color: var(--color-main-hover);
}
.product:hover .product__btns {
  opacity: 1;
  visibility: visible;
}